In [ ]:
import cv2
import pandas as pd

df = pd.read_csv("/content/bank-full - copia.csv", sep=";")
df.head(5)
print(df.head(10))
print(df.describe())

   age           job   marital  education default  balance housing loan  \
0   58    management   married   tertiary      no     2143     yes   no
1   44    technician    single  secondary      no       29     yes   no
2   33  entrepreneur   married  secondary      no        2     yes  yes
3   47   blue-collar   married    unknown      no     1506     yes   no
4   33       unknown    single    unknown      no        1      no   no
5   35    management   married   tertiary      no      231     yes   no
6   28    management    single   tertiary      no      447     yes  yes
7   42  entrepreneur  divorced   tertiary     yes        2     yes   no
8   58       retired   married    primary      no      121     yes   no
9   43    technician    single  secondary      no      593     yes   no

   contact  day month  duration  campaign  pdays  previous poutcome   y
0  unknown    5   may       261         1     -1         0  unknown  no
1  unknown    5   may       151         1     -1         0  unknown  no
2  unknown    5   may        76         1     -1         0  unknown  no
3  unknown    5   may        92         1     -1         0  unknown  no
4  unknown    5   may       198         1     -1         0  unknown  no
5  unknown    5   may       139         1     -1         0  unknown  no
6  unknown    5   may       217         1     -1         0  unknown  no
7  unknown    5   may       380         1     -1         0  unknown  no
8  unknown    5   may        50         1     -1         0  unknown  no
9  unknown    5   may        55         1     -1         0  unknown  no
                age        balance           day      duration      campaign  \
count  45211.000000   45211.000000  45211.000000  45211.000000  45211.000000
mean      40.936210    1362.272058     15.806419    258.163080      2.763841
std       10.618762    3044.765829      8.322476    257.527812      3.098021
min       18.000000   -8019.000000      1.000000      0.000000      1.000000
25%       33.000000      72.000000      8.000000    103.000000      1.000000
50%       39.000000     448.000000     16.000000    180.000000      2.000000
75%       48.000000    1428.000000     21.000000    319.000000      3.000000
max       95.000000  102127.000000     31.000000   4918.000000     63.000000

              pdays      previous
count  45211.000000  45211.000000
mean      40.197828      0.580323
std      100.128746      2.303441
min       -1.000000      0.000000
25%       -1.000000      0.000000
50%       -1.000000      0.000000
75%       -1.000000      0.000000
max      871.000000    275.000000